@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

/*colori*/
:root {
  --primary-color: #ea4a4a;
  /* Blu primario */
  --secondary-color: #f7f4f3;
  /* Verde secondario */
  --accent-color: #e74c3c;
  /* Rosso accentuato */
  --background-color: #f7f4f3;
  /* Colore di sfondo */
  --text-color: #242221;
  /* Colore del testo principale */
}

/*genaral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

/*container*/
.container {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Aggiungi il punto e virgola qui */
  scroll-behavior: smooth;
}

/*section pg*/

section {
  padding: 8%;
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /* Assicura uno stop netto durante lo scorrimento */
  scroll-padding: 100px;
  /* Aggiunge uno spazio minimo tra le sezioni per migliorare la percezione */
}

/*id contaner che contiene testo animato*/
#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;

  filter: url(#threshold) blur(0.6px);
}

/*classe del id contaner*/
/*potrei gestire meglio la quantità di box/container ottimizzando il codice*/
.box-animation {
  padding: 16%;
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
}

/* Testo animato id text1 e text2 */
#text1,
#text2 {
  position: absolute;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  text-align: center;
  user-select: none;
}

/*h1*/
h1 {
  font-size: 2rem;
  filter: url(#threshold) blur(0.6px);
}

/*gestione card one 100vh*/
.one {
  color: var(--background-color);
  justify-content: space-evenly;
  background-color: var(--primary-color);
}

/*gestione card two 100vh*/
.two {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

/*gestione box pagina 2 */
.boxcard {
  padding: 12%;
  margin: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#blob {
  margin-left: 8%;
}

/* ANIMAZIONE */
/* ANIMAZIONE */
/* ANIMAZIONE */
/* ANIMAZIONE */
/* ANIMAZIONE */
/* Stile del contenitore dell'oggetto animato */
.animated-container {
  /* Sfondo con un gradiente radiale che va da hotpink a slateblue */
  background: radial-gradient(circle at -16% -16%, #ea4a4a, #f7f4f3);
  /* Display grid per centrare l'oggetto */
  display: grid;
  /* Altezza e larghezza del contenitore a 200px */
  height: 120px;
  width: 0px;
  /* Posizionamento al centro del contenitore */
  place-items: center;
  /* Posizione relativa per l'oggetto assoluto */
  position: relative;
}

/* Pseudoelemento ::before per creare l'oggetto animato */
.animated-container::before {
  /* Animazione che utilizza la chiave 'anim' definita successivamente */
  animation: anim 30s infinite;
  /* Sfondo con un gradiente radiale che va da hotpink a slateblue */
  background: radial-gradient(circle at 0% 0%, #ea4a4a, #ea4a4a);
  /* Bordi arrotondati con valori specifici */
  border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
  /* Ombre per creare effetto tridimensionale */
  box-shadow: 0 -1.4vmin 2.8vmin var(--primary-color) inset,
    0 0.35vmin 2.8vmin var(--primary-color) inset,
    0 -1.4vmin 4.9vmin #ea4a4a inset;
  /* Contenuto vuoto generato dal pseudoelemento */
  content: "";
  /* Filtri per aggiungere ombre e effetti visivi */
  filter: drop-shadow(0 0 1.05vmin var(--primary-color))
    drop-shadow(0 1.75vmin 1.4vmin var(--primary-color))
    drop-shadow(0.7vmin -0.7vmin 5.25vmin var(--primary-color))
    drop-shadow(0 0 2.45vmin var(--primary-color));
  /* Altezza e larghezza dell'oggetto animato a 50vmin */
  height: 24vmin;
  width: 24vmin;
  /* Posizionamento assoluto rispetto al contenitore */
  position: absolute;
}

/* Definizione dell'animazione 'anim' */
@keyframes anim {
  0%,
  100% {
    border-radius: 20% 80% 80% 20% / 50% 20% 80% 50%;
    transform: scale(1);
    /* Nessuna deformazione al 0% e 100% */
  }

  10% {
    border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
    transform: scale(1.2) rotate(3deg);
    /* Leggera espansione del 20% al 10% con rotazione */
  }

  20% {
    border-radius: 36% 64% 32% 68% / 35% 65% 35% 65%;
    transform: scale(1.4) rotate(-3deg);
    /* Tornare alla forma originale con una deformazione maggiore e rotazione */
  }

  /* ... Altri frame con cambiamenti di border-radius e transform ... */

  90% {
    border-radius: 32% 68% 32% 68% / 40% 60% 40% 60%;
    transform: scale(1.5) rotate(2deg);
    /* Leggera espansione del 20% al 90% con rotazione */
  }
}

/* FINE ANIMAZIONE */
/* FINE ANIMAZIONE */

/*gestione card three 100vh*/
.three {
  background-color: var(--primary-color);
}

/*gestione card four 100vh*/
.four {
  background-color: var(--secondary-color);
}

/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */

/* MEDIA QUERY PER iPHONE IN MODALITÀ VERTICALE */
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  section {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
  }

  .box-animation {
    padding: 16%;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /* Modifica delle dimensioni del testo per text1 e text2 */
  #text1,
  #text2,
  h1 {
    font-size: 1.5rem; /* Dimensione del testo per iPhone */
  }

  .two {
    flex-direction: column;
  }

  .animated-container {
    /* Altezza e larghezza del contenitore per iPhone */
    height: 180px;
    width: 0px;
  }

  #blob {
    margin-bottom: 12%;
  }
}

/* MEDIA QUERY PER iPAD IN MODALITÀ VERTICALE */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  section {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
  }

  .box-animation {
    padding: 16%;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /* Modificare le dimensioni del testo per text1 e text2 per adattarsi a iPad */
  #text1,
  #text2,
  h1 {
    font-size: 2rem; /* Dimensione del testo per iPad */
  }

  .two {
    flex-direction: column;
  }

  .animated-container {
    /* Altezza e larghezza del contenitore per iPad */
    height: 180px;
    width: 0px;
  }

  #blob {
    margin-bottom: 12%;
  }
}
